.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
}
.content a{
    color: white;
    display: inline-block;
    margin-top: 50px;
}
.faq{
    background-color: white;
    color: #CF6766;
    padding: 20px;
}
.faq-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.faq article{
    display: inline-block;
    width: 515px;
    padding: 10px;
}
.faq h3{
    font-weight: 300;
    font-size: 30px;
    color: #031424;
    padding: 20px 0 0px 0;
    margin: 0;
}
.faq p{
    color: #031424 !important;
    color: #CF6766;
    text-align: left;
    font-size: 19px;
}
footer p{
    text-align: center !important;
    font-size: 16px !important;
    padding-top: 20px;
}