body {
    background-color: #CF6766;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.menu{
    position: absolute;
    top: 0;
    background: #30415d;
    right: 0;
    left: 0;
    height: 55px;
}
.menu .links{
    text-align: right;
    display: inline;
    float: right;
    padding: 20px 10px 0 0;
}
.menu a{
    color: white;
    padding: 0 20px 0 0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    text-align: right;
}
.back-button{
    display: inline-block;
    float: left;
    color: white;
    border-radius: 6px;
    padding: 10px 0 10px 19px;
    margin: 8px 0 0 8px;
    text-align: center;
    transition: background-color .2s;
    cursor: pointer;
}
h1{
    font-weight: 300;
    color: white;
    font-size: 70px;
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
}
p{
    color: white;
    padding: 5px 0 20px 0;
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}